.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inputField {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    max-width: 30px;
}

.inputField::-webkit-inner-spin-button,
.inputField::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.inputField[type="number"]{
    text-align: center;
}

.errorField{
    border-color: red;
}