.form_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    margin: 40px auto;
}

.form_field {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
}

.flex_item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}