.toast_container {
    min-width: 200px;
    padding: 10px;
    text-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 20px;
    opacity: 0;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s ease-in-out;
}

.showToast {
    transform: translate(-50%, -40px);
    opacity: 1;
}