.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.modal_body {
    position: relative;
    padding: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 100;
}

.cross_button {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}