.searchBox {
    width: 400px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.result_item {
    padding: 20px;
    border-bottom: 1px solid black;
}

.result_container {
    width: 420px;
    max-height: 0px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.show_result {
    max-height: 400px;
    opacity: 1;
}

.result_item:nth-child(even) {
    background-color: #f0f0f0;
}