.todoContainer {
    width: 600px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin: 40px auto;
    padding: 40px;
}
.todoItem {
    display: inline;
    width: 20px;
}

input {
    outline: none;
}

.filterContainer {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
}