.carouselContainer {
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.buttonConatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.buttonConatiner button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.imgContainer {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    display: flex;
}

.carouselImg {
    width: 500px;
    min-width: 500px;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.dotContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    gap: 8px;
}

.dots{
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.dotsActive {
    background-color: black;
}

