.container {
    width: 90%;
    border-radius: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 20px;
    margin: auto;
}

.progressBar {
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transition: transform 2s ease;
    border-radius: 16px;
    will-change: transform;
}